name: ci

on:
  push:
    branches:
      - main

permissions:
  contents: read
  packages: write
  id-token: write

jobs:
  build-main:
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - name: Build Docker
        uses: meysam81/build-docker@main
        with:
          cosign: true
          image-extra-tags: |
            ghcr.io/${{ github.repository }}:${{ github.sha }}
            ghcr.io/${{ github.repository }}:${{ github.run_id }}
            ghcr.io/${{ github.repository }}:latest
          image-name: ghcr.io/${{ github.repository }}

  release-please:
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    outputs:
      releases_created: ${{ steps.release-please.outputs.releases_created }}
      tag_name: ${{ steps.release-please.outputs.tag_name }}
    permissions:
      contents: write
      issues: write
      pull-requests: write
    steps:
      - id: release-please
        name: Release please
        uses: googleapis/release-please-action@v4
        with:
          release-type: python

  pypi-publish:
    needs: release-please
    if: needs.release-please.outputs.releases_created == 'true'
    environment:
      name: pypi
    name: upload release to PyPI
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.x"
      - name: Install build tools
        run: python3 -m pip install --upgrade pip setuptools wheel build
      - name: Build package
        run: python3 -m build --wheel --sdist --no-isolation
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1

  build-prod:
    needs: release-please
    if: needs.release-please.outputs.releases_created == 'true'
    runs-on: ubuntu-latest
    steps:
      - name: Build Docker
        uses: meysam81/build-docker@main
        with:
          cosign: true
          image-extra-tags: |
            ghcr.io/${{ github.repository }}:${{ needs.release-please.outputs.tag_name }}
          image-name: ghcr.io/${{ github.repository }}
          ref: ${{ needs.release-please.outputs.tag_name }}
